
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Salon</title>
    {% load static %}
{#<link type="text/css" href="{% static 'hair_project/css/styles.css'%}" rel="stylesheet">#}
    <link rel="stylesheet" type="hair_project.css" href="{% static 'css/styles.css' %}" >
</head>
<body>
    <header>
        <div class="logo">

            <h1>beautysalon</h1>

        </div>
        <nav>
            <ul>
                <li><a href="#home">Início</a></li>
                <li><a href="#about">Sobre</a></li>
                <li><a href="#services">Serviços</a></li>
                <li><a href="#testimonials">Depoimentos</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero" id="home">
        <div class="hero-text">
            <h2>Saúde natural para os seus cabelos</h2>
            <p>Um salão exclusivo em São Paulo, especializado em tratamentos naturais.</p>
            <button>Agendar um horário</button>
        </div>
        <div class="hero-image">
            <img src="image copy 5.png" alt="Saúde natural para os seus cabelos">
        </div>
    </section>

    <section class="about" id="about">
        <div class="about-image">
            <img src="image copy 6.png" alt="Sobre nós">
        </div>
        <div class="about-text">
            <h2>Sobre nós</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis arcu quis nisi luctus, id accumsan felis tristique. Proin quis bibendum diam. Sed consequat nisl laoreet eros ultricies pellentesque. Nullam in est porta, pellentesque massa vitae, vehicula risus.

                In placerat, felis vitae sodales dictum, lacus quam pretium mi, ut pretium urna turpis eu dui. Vestibulum id ullamcorper nibh. Donec luctus, nunc finibus elementum suscipit, tortor augue vulputate sapien, vitae feugiat enim augue sed.

                Quisque id aliquam elit. Suspendisse congue pharetra maximus. Duis rutrum velit a leo euismod dictum. Sed sodales est efficitur arcu tincidunt tincidunt. Curabitur fringilla, risus at feugiat feugiat, nisl nulla tincidunt tellus, elementum elementum lorem nisl eleifend dolor. Nullam eget dui at sem ullamcorper luctus.</p>
        </div>
    </section>

    <section class="services" id="services">
        <h2>Serviços</h2>
        <p>Com mais de 10 anos no mercado, o Beautysalon já </p>
        <p>onquistou clientes de inúmeros países com seus tratamentos</p>
        <p>c exclusivos e totalmente naturais</p>
        <div class="services-cards">
            <div class="card">
                <img src="image copy 2.png" alt="Terapia">
                <h3>Terapia capilar</h3>

                <p>Terapia completa para couro cabeludo e fios. Protegendo todos os tipos de cabelos.</p>
            </div>
            <div class="card">
                <img src="image copy 3.png" alt="cortes">
                <h3>Cortes</h3>

                <p>Profissionais renomados, famosos por lançarem tendências com cortes diferenciados e clássicos.</p>
            </div>
            <div class="card">
                <img src="image copy 4.png" alt="tratamentos">
                <h3>Tratamentos</h3>
                <p>Tratamentos naturais e totalmente veganos, para qualquer tipo de cabelo.</p>
            </div>
        </div>
    </section>

    <section class="testimonials" id="testimonials">
        <h2>Depoimentos de quem já </h2>
        <h2>passou por aqui</h2>
        <div class="testimonials-cards">
            <div class="testimonial">
                <img src="image copy 8.png" alt="">
                <img src="image copy 7.png" alt="">

            </div>

        </div>
    </section>
    <section class="contact">
        <div class="container">

            <div class="contact-text">
                <h1>Entre em contato</h1>
                <h1>com a gente!</h1>
                <p>Entre em contato com a Beautysalon,</p>
                <p>queremos tirar suas dúvidas, ouvir suas</p>
                <p>críticas e sugestões.</p>
                <button class="image-button">
                    <img src="image copy 9.png" alt="Image" />
                    <span>Entrar em contato</span>
                </button>
            </div>


            <div class="contact-info">
                <p><img src="image copy 10.png" alt=""> 11 99845-6754</p>
                <p><img src="image copy 11.png" alt=""> R. Amauri Souza, 346</p>
                <p><img src="image copy 12.png" alt=""> contato@beautysalon.com</p>
            </div>
        </div>
    </section>

</main>


<footer>
    <div class="footer-container">
        <div class="footer-text">
            <h1>beautysalon.</h1>
            <p>&copy; 2021 Beautysalon.</p>
            <p>&copy; Todos os direitos reservados.</p>
        </div>


        <div class="footer-images">
            <img src="image copy 13.png" alt="cards">
            <img src="image copy 14.png" alt="cards">
            <img src="image copy 15.png" alt="cards">
        </div>
    </div>
</footer>



</body>
</html>
